<div class="spaceport-box">
	<div class="spaceport-image-wrapper">
		<% if (spaceport.photos().at(0)){ %>
			<img 
			src="<%= spaceport.photos().at(0).escape('url') %>"
			class="spaceport-img">
		<% } %>
	</div> <!--spaceport-image-wrapper -->
	<div class="spaceport-panel-wrapper" >
		<div class="row spaceport-panel-row">
			<div class="spaceport-panel-info-wrapper">
				<div class="row">
					
					
					<div class="col-xs-8">
						<div class="row">
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-3">
										<div
											class="spaceport-user-img-frame"
											onclick="location.href=' <%= "#/users/" + spaceport.user().escape('id') %>';">
									  	<img src="<%= spaceport.userPhoto().escape('url') %>" class="brief-user-img">
										</div>
									</div> <!-- col-xs-3 -->
									
									<div class="col-xs-9">
										<h3 class="spaceport-heading">
                      <%= spaceport.escape("name") %>
                    </h3>
										<h5><%= spaceport.escape("address") %></h5>
										<div class="row"> 
											<div class="col-xs-4">
												<span class="glyphicon glyphicon-flag"></span>
											</div>
											<div class="col-xs-4">
												<span class="glyphicon glyphicon-user"></span>
											</div>
											<div class="col-xs-4">
												<span class="glyphicon glyphicon-arrow-up"></span>
											</div>
										</div> <!--row #5.1 -->
									</div> <!--col-xs-9 -->
									
								</div> <!-- row #4.1 -->
							</div> <!-- col-xs-12 -->
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-3">
										<h4 class="centered-text">
											<%= spaceport.user().escape("username") %>
                    </h4>
									</div> <!--col-xs-3 -->
									
									<div class="col-xs-9">
										<div class="row">
											<div class="col-xs-4">
												<h4 class="centered-text">
													<%= spaceport.styleStr() %>
                        </h4>
											</div>
											<div class="col-xs-4">
												<h4 class="centered-text">
													<%= spaceport.get("staff") + " Staff" %>
                        </h4>
											</div>
											<div class="col-xs-4">
												<h4 class="centered-text">
													<%= spaceport.get("pads") + " Launchpads" %>
                        </h4>
											</div>
										</div> <!--row #3.2 -->
									</div> <!-- col-xs-9 -->
									
								</div> <!--row #5.1 -->
							</div> <!-- col-xs-12 -->
						</div> <!-- row #2.1 -->
					</div> <!--col-xs-8 -->
					<div class="col-xs-4">
						<div class="row">
							<div class="spaceport-price-wrapper">
								<div class="spaceport-price-box">
									<h3 class="price-color space-port-price">
										<%= "$" + spaceport.escape("price") %>
									</h3>
								</div>
								<div class="space-port-per-day-box">
									<span class="price-color space-port-per-day">per day</span> 
								</div>
							</div>
							<div class="col-xs-12">
								<div class="row">
									<div class="col-xs-8">
										<div class="row">
											<div class="col-xs-6">
												<p>Check In</p>
											</div>
											<div class="col-xs-6">
												<p>Check Out</p>
											</div>
											<div class="col-xs-6 date-col">
												<input type='text'
												name="space[checkIn]"
												class="form-control datetimepicker"
												placeholder="mm/dd/yyyy" 
												id='datetimepickerStart'>
											</div>
											<div class="col-xs-6 date-col">
												<input 
												name="space[checkOut]"
												type='text' 
												class="form-control datetimepicker"
												placeholder="mm/dd/yyyy"  
												id='datetimepickerEnd'>
											</div>
										</div> <!-- row #4.1 -->
									</div> <!-- col-xs-8 -->
									<div class="col-xs-4">
										<p>Staff</p>
										<input
                      type="number"
                      id="request-staff-field"
                      class="form-control"
                      max='<%= spaceport.escape("staff") %>'
                      min="1"

                      name="spaceport[price]"
                      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
											placeholder="<%= '0-' + spaceport.escape("staff") %>"
											>
									</div> <!-- col-xs-4 -->
								</div> <!-- row #3.2 -->
							</div> <!-- col-xs-12 -->
							
							<div class="col-xs-12">
								<button
								class="book-button unpressed">
									Book Now
								</button>
							</div> <!-- col-xs-12 -->
						</div> <!-- row #2.2 -->
					</div> <!-- col-xs-3 -->
				</div> <!--row #1 -->
			</div> <!--spaceport-panel-info-wrapper -->
		</div> <!--spaceport-panel-row -->
	</div> <!--spaceport-panel-wrapper -->
</div>  <!--spaceport-box -->
<div class="comments-wrapper">
  <div class="spaceport-panel-info-wrapper">
    <div class="row">
      <div class="col-xs-8">
        <h4>Spaceport Description:</h4>
        <div class="description-wrapper">
          <p><%= spaceport.escape("description") %></p>
        </div>
        <h3 class="centered-text">Spaceport Reviews</h3>
        <div class="description-wrapper">
          <div class="comments"></div>

          <form role="form">
            <div class="row">
              <div class="col-xs-10" >
                <textarea 
                  id="spaceport-comment-field"
                  class="form-control"
                  placeholder="Add Review" 
                  rows="3"></textarea>
              </div>
              <div class="col-xs-2">
                <button 
                  type="submit" 
                  class="btn btn-primary spaceport-comment-button">
                    Submit
                </button>
              </div>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>

				

				

