<nav 
  class="navbar navbar-default navbar-fixed-top"
  id="splash-navbar"
  role="navigation">
  <div class="container-fluid navbar-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>"><%= image_tag("starbnb-splash-logo.png", class:  "logo") %></a>
      <% if logged_in? %>
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="/index">
            Search Listings
          </a> 
        </li>
      </ul>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a 
            href='<%= "index#users/" + current_user.id.to_s %>'>
              <%= current_user.username %>
            </a>
          </li>
          <li><%= button_to("LOG OUT", session_url, method: :delete, class: "btn btn-default navbar-btn") %></li>
        </ul>
        <% else %>
        <li>
          <a class="" data-toggle="modal"  data-target="#new-user-modal">
            SIGN UP
          </a> <!-- Button trigger modal from body-->
        </li>
        <li>
          <a class="" data-toggle="modal"  data-target="#login-modal">
            LOGIN
          </a> <!-- Button trigger modal from body-->
        </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <% if flash["errors"] %>
    <% flash["errors"].each do |msg| %>
    <div class="alert alert-warning"><%= msg %></div>
    <% end %>
  <% end %>
  <% if flash["successes"] %>
    <% flash["successes"].each do |msg| %>
      <div class="alert alert-success"><%= msg %></div>
    <% end %>
  <% end %>
</nav>

  
