<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'favicon.ico' %>
  
  <title>Starbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript"
  src="//api.filepicker.io/v1/filepicker.js">
</script>
<body>
<div class="body-wrapper container-fluid">
<% if flash["errors"] %>
  <% flash["errors"].each do |msg| %>
  <div class="alert alert-warning"><%= msg %></div>
  <% end %>
<% end %>
<% if flash["successes"] %>
  <% flash["successes"].each do |msg| %>
    <div class="alert alert-success"><%= msg %></div>
  <% end %>
<% end %>



<%= yield %>

</div>

<script>
  $( function () {
    filepicker.setKey("<%= ENV['FILEPICKER_KEY'] %>");
  })
</script>
</body>
</html>
