<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'favicon.ico' %>
  
  <title>Starbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  

  
</head>
<body>
<%= render "layouts/new_user" %>
<%= render "layouts/new_session" %>


<div class="body-inner-wrapper container-fluid">
<%= render "layouts/nav" %> 

<% flash.each do |type, msgs| %>
  <h3><%= type %></h3>
  <% msgs.each do |msg|%>
    <p><%= msg %></p>
  <% end %>
<% end %>



<%= yield %>

</div>

</body>
</html>
